.appContainer {
    width: 100%;
    height: 100%;
    padding-top: 22px;
    display: flex;
    overflow: hidden;
}

.appWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

.channelsContainer {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 0;
    min-width: 0;
    flex: 1 1 auto;
}
